Stream/src/main/resources/wsdls/VoipAdminApiService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) 
	JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) 
	JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://bw.managed/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://bw.managed/" name="VoipAdminApiService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://bw.managed/"
				schemaLocation="xsds/VoipAdminApiService.xml" />
		</xsd:schema>
	</types>
	<message name="addGroupAdmin">
		<part name="parameters" element="tns:addGroupAdmin" />
	</message>
	<message name="addGroupAdminResponse">
		<part name="parameters" element="tns:addGroupAdminResponse" />
	</message>
	<message name="assignUserServices">
		<part name="parameters" element="tns:assignUserServices" />
	</message>
	<message name="assignUserServicesResponse">
		<part name="parameters" element="tns:assignUserServicesResponse" />
	</message>
	<message name="IOException">
		<part name="fault" element="tns:IOException" />
	</message>
	<message name="JDOMException">
		<part name="fault" element="tns:JDOMException" />
	</message>
	<message name="addExtensionUser">
		<part name="parameters" element="tns:addExtensionUser" />
	</message>
	<message name="addExtensionUserResponse">
		<part name="parameters" element="tns:addExtensionUserResponse" />
	</message>
	<message name="authenticateUser">
		<part name="parameters" element="tns:authenticateUser" />
	</message>
	<message name="authenticateUserResponse">
		<part name="parameters" element="tns:authenticateUserResponse" />
	</message>
	<message name="getEnterpriseAdminList">
		<part name="parameters" element="tns:getEnterpriseAdminList" />
	</message>
	<message name="getEnterpriseAdminListResponse">
		<part name="parameters"
			element="tns:getEnterpriseAdminListResponse" />
	</message>
	<message name="getGroupAdminList">
		<part name="parameters" element="tns:getGroupAdminList" />
	</message>
	<message name="getGroupAdminListResponse">
		<part name="parameters" element="tns:getGroupAdminListResponse" />
	</message>
	<message name="addUser">
		<part name="parameters" element="tns:addUser" />
	</message>
	<message name="addUserResponse">
		<part name="parameters" element="tns:addUserResponse" />
	</message>
	<message name="editEnterpriseAdmin">
		<part name="parameters" element="tns:editEnterpriseAdmin" />
	</message>
	<message name="editEnterpriseAdminResponse">
		<part name="parameters" element="tns:editEnterpriseAdminResponse" />
	</message>
	<message name="addEnterpriseAdmin">
		<part name="parameters" element="tns:addEnterpriseAdmin" />
	</message>
	<message name="addEnterpriseAdminResponse">
		<part name="parameters" element="tns:addEnterpriseAdminResponse" />
	</message>
	<message name="addGroup">
		<part name="parameters" element="tns:addGroup" />
	</message>
	<message name="addGroupResponse">
		<part name="parameters" element="tns:addGroupResponse" />
	</message>
	<message name="getDeptUsersBO">
		<part name="parameters" element="tns:getDeptUsersBO" />
	</message>
	<message name="getDeptUsersBOResponse">
		<part name="parameters" element="tns:getDeptUsersBOResponse" />
	</message>
	<message name="getAsNameForUser">
		<part name="parameters" element="tns:getAsNameForUser" />
	</message>
	<message name="getAsNameForUserResponse">
		<part name="parameters" element="tns:getAsNameForUserResponse" />
	</message>
	<message name="getGroupAdminListBO">
		<part name="parameters" element="tns:getGroupAdminListBO" />
	</message>
	<message name="getGroupAdminListBOResponse">
		<part name="parameters" element="tns:getGroupAdminListBOResponse" />
	</message>
	<message name="findGroupAdmin">
		<part name="parameters" element="tns:findGroupAdmin" />
	</message>
	<message name="findGroupAdminResponse">
		<part name="parameters" element="tns:findGroupAdminResponse" />
	</message>
	<message name="findEnterpriseAdmin">
		<part name="parameters" element="tns:findEnterpriseAdmin" />
	</message>
	<message name="findEnterpriseAdminResponse">
		<part name="parameters" element="tns:findEnterpriseAdminResponse" />
	</message>
	<message name="getEnterpriseHierarchy">
		<part name="parameters" element="tns:getEnterpriseHierarchy" />
	</message>
	<message name="getEnterpriseHierarchyResponse">
		<part name="parameters"
			element="tns:getEnterpriseHierarchyResponse" />
	</message>
	<message name="getEnterpriseChildren">
		<part name="parameters" element="tns:getEnterpriseChildren" />
	</message>
	<message name="getEnterpriseChildrenResponse">
		<part name="parameters"
			element="tns:getEnterpriseChildrenResponse" />
	</message>
	<message name="addEnterpriseAdminWithPassword">
		<part name="parameters"
			element="tns:addEnterpriseAdminWithPassword" />
	</message>
	<message name="addEnterpriseAdminWithPasswordResponse">
		<part name="parameters"
			element="tns:addEnterpriseAdminWithPasswordResponse" />
	</message>
	<message name="addEnterpriseGroupDeptAdmin">
		<part name="parameters" element="tns:addEnterpriseGroupDeptAdmin" />
	</message>
	<message name="addEnterpriseGroupDeptAdminResponse">
		<part name="parameters"
			element="tns:addEnterpriseGroupDeptAdminResponse" />
	</message>
	<message name="addEnterpriseDeptAdmin">
		<part name="parameters" element="tns:addEnterpriseDeptAdmin" />
	</message>
	<message name="addEnterpriseDeptAdminResponse">
		<part name="parameters"
			element="tns:addEnterpriseDeptAdminResponse" />
	</message>
	<message name="addEnterpriseGroupAdmin">
		<part name="parameters" element="tns:addEnterpriseGroupAdmin" />
	</message>
	<message name="addEnterpriseGroupAdminResponse">
		<part name="parameters"
			element="tns:addEnterpriseGroupAdminResponse" />
	</message>
	<message name="addEnterpriseGroupAdminWithPassword">
		<part name="parameters"
			element="tns:addEnterpriseGroupAdminWithPassword" />
	</message>
	<message name="addEnterpriseGroupAdminWithPasswordResponse">
		<part name="parameters"
			element="tns:addEnterpriseGroupAdminWithPasswordResponse" />
	</message>
	<message name="editEnterpriseGroupAdmin">
		<part name="parameters" element="tns:editEnterpriseGroupAdmin" />
	</message>
	<message name="editEnterpriseGroupAdminResponse">
		<part name="parameters"
			element="tns:editEnterpriseGroupAdminResponse" />
	</message>
	<message name="editEnterpriseDeptAdmin">
		<part name="parameters" element="tns:editEnterpriseDeptAdmin" />
	</message>
	<message name="editEnterpriseDeptAdminResponse">
		<part name="parameters"
			element="tns:editEnterpriseDeptAdminResponse" />
	</message>
	<message name="editEnterpriseGroupDeptAdmin">
		<part name="parameters"
			element="tns:editEnterpriseGroupDeptAdmin" />
	</message>
	<message name="editEnterpriseGroupDeptAdminResponse">
		<part name="parameters"
			element="tns:editEnterpriseGroupDeptAdminResponse" />
	</message>
	<message name="deleteEnterpriseGroupAdmin">
		<part name="parameters" element="tns:deleteEnterpriseGroupAdmin" />
	</message>
	<message name="deleteEnterpriseGroupAdminResponse">
		<part name="parameters"
			element="tns:deleteEnterpriseGroupAdminResponse" />
	</message>
	<message name="deleteEnterpriseDeptAdmin">
		<part name="parameters" element="tns:deleteEnterpriseDeptAdmin" />
	</message>
	<message name="deleteEnterpriseDeptAdminResponse">
		<part name="parameters"
			element="tns:deleteEnterpriseDeptAdminResponse" />
	</message>
	<message name="deleteEnterpriseGroupDeptAdmin">
		<part name="parameters"
			element="tns:deleteEnterpriseGroupDeptAdmin" />
	</message>
	<message name="deleteEnterpriseGroupDeptAdminResponse">
		<part name="parameters"
			element="tns:deleteEnterpriseGroupDeptAdminResponse" />
	</message>
	<message name="addEnterpriseAdminBOWithPass">
		<part name="parameters"
			element="tns:addEnterpriseAdminBOWithPass" />
	</message>
	<message name="addEnterpriseAdminBOWithPassResponse">
		<part name="parameters"
			element="tns:addEnterpriseAdminBOWithPassResponse" />
	</message>
	<message name="addEnterpriseGroupAdminBO">
		<part name="parameters" element="tns:addEnterpriseGroupAdminBO" />
	</message>
	<message name="addEnterpriseGroupAdminBOResponse">
		<part name="parameters"
			element="tns:addEnterpriseGroupAdminBOResponse" />
	</message>
	<message name="getEnterpriseHierarchyBO">
		<part name="parameters" element="tns:getEnterpriseHierarchyBO" />
	</message>
	<message name="getEnterpriseHierarchyBOResponse">
		<part name="parameters"
			element="tns:getEnterpriseHierarchyBOResponse" />
	</message>
	<message name="getEnterpriseChildrenBO">
		<part name="parameters" element="tns:getEnterpriseChildrenBO" />
	</message>
	<message name="getEnterpriseChildrenBOResponse">
		<part name="parameters"
			element="tns:getEnterpriseChildrenBOResponse" />
	</message>
	<message name="deleteEnterpriseAdminBO">
		<part name="parameters" element="tns:deleteEnterpriseAdminBO" />
	</message>
	<message name="deleteEnterpriseAdminBOResponse">
		<part name="parameters"
			element="tns:deleteEnterpriseAdminBOResponse" />
	</message>
	<message name="editEnterpriseAdminBO">
		<part name="parameters" element="tns:editEnterpriseAdminBO" />
	</message>
	<message name="editEnterpriseAdminBOResponse">
		<part name="parameters"
			element="tns:editEnterpriseAdminBOResponse" />
	</message>
	<message name="editEnterpriseAdminBOWithPassword">
		<part name="parameters"
			element="tns:editEnterpriseAdminBOWithPassword" />
	</message>
	<message name="editEnterpriseAdminBOWithPasswordResponse">
		<part name="parameters"
			element="tns:editEnterpriseAdminBOWithPasswordResponse" />
	</message>
	<message name="deleteEnterpriseGroupAdminBO">
		<part name="parameters"
			element="tns:deleteEnterpriseGroupAdminBO" />
	</message>
	<message name="deleteEnterpriseGroupAdminBOResponse">
		<part name="parameters"
			element="tns:deleteEnterpriseGroupAdminBOResponse" />
	</message>
	<message name="editEnterpriseGroupAdminBO">
		<part name="parameters" element="tns:editEnterpriseGroupAdminBO" />
	</message>
	<message name="editEnterpriseGroupAdminBOResponse">
		<part name="parameters"
			element="tns:editEnterpriseGroupAdminBOResponse" />
	</message>
	<message name="deleteDepartmentAdminBO">
		<part name="parameters" element="tns:deleteDepartmentAdminBO" />
	</message>
	<message name="deleteDepartmentAdminBOResponse">
		<part name="parameters"
			element="tns:deleteDepartmentAdminBOResponse" />
	</message>
	<message name="editDepartmentAdminBO">
		<part name="parameters" element="tns:editDepartmentAdminBO" />
	</message>
	<message name="editDepartmentAdminBOResponse">
		<part name="parameters"
			element="tns:editDepartmentAdminBOResponse" />
	</message>
	<message name="getAsNameForEnterprise">
		<part name="parameters" element="tns:getAsNameForEnterprise" />
	</message>
	<message name="getAsNameForEnterpriseResponse">
		<part name="parameters"
			element="tns:getAsNameForEnterpriseResponse" />
	</message>
	<message name="getPortalInfoForCluster">
		<part name="parameters" element="tns:getPortalInfoForCluster" />
	</message>
	<message name="getPortalInfoForClusterResponse">
		<part name="parameters"
			element="tns:getPortalInfoForClusterResponse" />
	</message>
	<message name="getPortalUrlForEnterprise">
		<part name="parameters" element="tns:getPortalUrlForEnterprise" />
	</message>
	<message name="getPortalUrlForEnterpriseResponse">
		<part name="parameters"
			element="tns:getPortalUrlForEnterpriseResponse" />
	</message>
	<message name="getEnterpriseAdminListBO">
		<part name="parameters" element="tns:getEnterpriseAdminListBO" />
	</message>
	<message name="getEnterpriseAdminListBOResponse">
		<part name="parameters"
			element="tns:getEnterpriseAdminListBOResponse" />
	</message>
	<message name="getUserNativePasswordInd">
		<part name="parameters" element="tns:getUserNativePasswordInd" />
	</message>
	<message name="getUserNativePasswordIndResponse">
		<part name="parameters"
			element="tns:getUserNativePasswordIndResponse" />
	</message>
	<message name="NorthboundException">
		<part name="fault" element="tns:NorthboundException" />
	</message>
	<message name="Exception">
		<part name="fault" element="tns:Exception" />
	</message>
	<message name="getUserNativePasswordInds">
		<part name="parameters" element="tns:getUserNativePasswordInds" />
	</message>
	<message name="getUserNativePasswordIndsResponse">
		<part name="parameters"
			element="tns:getUserNativePasswordIndsResponse" />
	</message>
	<message name="getClusterByEnterprise">
		<part name="parameters" element="tns:getClusterByEnterprise" />
	</message>
	<message name="getClusterByEnterpriseResponse">
		<part name="parameters"
			element="tns:getClusterByEnterpriseResponse" />
	</message>
	<message name="getAdminIdType">
		<part name="parameters" element="tns:getAdminIdType" />
	</message>
	<message name="getAdminIdTypeResponse">
		<part name="parameters" element="tns:getAdminIdTypeResponse" />
	</message>
	<message name="getDeptUsers">
		<part name="parameters" element="tns:getDeptUsers" />
	</message>
	<message name="getDeptUsersResponse">
		<part name="parameters" element="tns:getDeptUsersResponse" />
	</message>
	<message name="getGroupChildren">
		<part name="parameters" element="tns:getGroupChildren" />
	</message>
	<message name="getGroupChildrenResponse">
		<part name="parameters" element="tns:getGroupChildrenResponse" />
	</message>
	<message name="editGroupAdmin">
		<part name="parameters" element="tns:editGroupAdmin" />
	</message>
	<message name="editGroupAdminResponse">
		<part name="parameters" element="tns:editGroupAdminResponse" />
	</message>
	<message name="addEnterpriseGroup">
		<part name="parameters" element="tns:addEnterpriseGroup" />
	</message>
	<message name="addEnterpriseGroupResponse">
		<part name="parameters" element="tns:addEnterpriseGroupResponse" />
	</message>
	<message name="addEnterpriseGroupBO">
		<part name="parameters" element="tns:addEnterpriseGroupBO" />
	</message>
	<message name="addEnterpriseGroupBOResponse">
		<part name="parameters"
			element="tns:addEnterpriseGroupBOResponse" />
	</message>
	<message name="addExtensionUserBO">
		<part name="parameters" element="tns:addExtensionUserBO" />
	</message>
	<message name="addExtensionUserBOResponse">
		<part name="parameters" element="tns:addExtensionUserBOResponse" />
	</message>
	<message name="addUserBO">
		<part name="parameters" element="tns:addUserBO" />
	</message>
	<message name="addUserBOResponse">
		<part name="parameters" element="tns:addUserBOResponse" />
	</message>
	<message name="deleteUserBO">
		<part name="parameters" element="tns:deleteUserBO" />
	</message>
	<message name="deleteUserBOResponse">
		<part name="parameters" element="tns:deleteUserBOResponse" />
	</message>
	<message name="getAdminIdTypeBO">
		<part name="parameters" element="tns:getAdminIdTypeBO" />
	</message>
	<message name="getAdminIdTypeBOResponse">
		<part name="parameters" element="tns:getAdminIdTypeBOResponse" />
	</message>
	<message name="addEnterpriseAdminBO">
		<part name="parameters" element="tns:addEnterpriseAdminBO" />
	</message>
	<message name="addEnterpriseAdminBOResponse">
		<part name="parameters"
			element="tns:addEnterpriseAdminBOResponse" />
	</message>
	<message name="addGroupAdminBO">
		<part name="parameters" element="tns:addGroupAdminBO" />
	</message>
	<message name="addGroupAdminBOResponse">
		<part name="parameters" element="tns:addGroupAdminBOResponse" />
	</message>
	<message name="addDepartmentAdminBO">
		<part name="parameters" element="tns:addDepartmentAdminBO" />
	</message>
	<message name="addDepartmentAdminBOResponse">
		<part name="parameters"
			element="tns:addDepartmentAdminBOResponse" />
	</message>
	<message name="getGroupChildrenBO">
		<part name="parameters" element="tns:getGroupChildrenBO" />
	</message>
	<message name="getGroupChildrenBOResponse">
		<part name="parameters" element="tns:getGroupChildrenBOResponse" />
	</message>
	<message name="deleteEnterpriseAdmin">
		<part name="parameters" element="tns:deleteEnterpriseAdmin" />
	</message>
	<message name="deleteEnterpriseAdminResponse">
		<part name="parameters"
			element="tns:deleteEnterpriseAdminResponse" />
	</message>
	<message name="deleteGroupAdmin">
		<part name="parameters" element="tns:deleteGroupAdmin" />
	</message>
	<message name="deleteGroupAdminResponse">
		<part name="parameters" element="tns:deleteGroupAdminResponse" />
	</message>
	<message name="editEnterpriseGroupAdminBOWithPassword">
		<part name="parameters"
			element="tns:editEnterpriseGroupAdminBOWithPassword" />
	</message>
	<message name="editEnterpriseGroupAdminBOWithPasswordResponse">
		<part name="parameters"
			element="tns:editEnterpriseGroupAdminBOWithPasswordResponse" />
	</message>
	<message name="addEnterpriseGroupAdminBOWithPassword">
		<part name="parameters"
			element="tns:addEnterpriseGroupAdminBOWithPassword" />
	</message>
	<message name="addEnterpriseGroupAdminBOWithPasswordResponse">
		<part name="parameters"
			element="tns:addEnterpriseGroupAdminBOWithPasswordResponse" />
	</message>
	<message name="deleteUser">
		<part name="parameters" element="tns:deleteUser" />
	</message>
	<message name="deleteUserResponse">
		<part name="parameters" element="tns:deleteUserResponse" />
	</message>
	<portType name="VoipAdminApi">
		<operation name="addGroupAdmin">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addGroupAdminRequest"
				message="tns:addGroupAdmin" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addGroupAdminResponse"
				message="tns:addGroupAdminResponse" />
		</operation>
		<operation name="assignUserServices">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/assignUserServicesRequest"
				message="tns:assignUserServices" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/assignUserServicesResponse"
				message="tns:assignUserServicesResponse" />
			<fault message="tns:IOException" name="IOException"
				wsam:Action="http://bw.managed/VoipAdminApi/assignUserServices/Fault/IOException" />
			<fault message="tns:JDOMException" name="JDOMException"
				wsam:Action="http://bw.managed/VoipAdminApi/assignUserServices/Fault/JDOMException" />
		</operation>
		<operation name="addExtensionUser">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addExtensionUserRequest"
				message="tns:addExtensionUser" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addExtensionUserResponse"
				message="tns:addExtensionUserResponse" />
		</operation>
		<operation name="authenticateUser">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/authenticateUserRequest"
				message="tns:authenticateUser" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/authenticateUserResponse"
				message="tns:authenticateUserResponse" />
		</operation>
		<operation name="getEnterpriseAdminList">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getEnterpriseAdminListRequest"
				message="tns:getEnterpriseAdminList" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getEnterpriseAdminListResponse"
				message="tns:getEnterpriseAdminListResponse" />
		</operation>
		<operation name="getGroupAdminList">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getGroupAdminListRequest"
				message="tns:getGroupAdminList" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getGroupAdminListResponse"
				message="tns:getGroupAdminListResponse" />
		</operation>
		<operation name="addUser">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addUserRequest"
				message="tns:addUser" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addUserResponse"
				message="tns:addUserResponse" />
		</operation>
		<operation name="editEnterpriseAdmin">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/editEnterpriseAdminRequest"
				message="tns:editEnterpriseAdmin" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/editEnterpriseAdminResponse"
				message="tns:editEnterpriseAdminResponse" />
		</operation>
		<operation name="addEnterpriseAdmin">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseAdminRequest"
				message="tns:addEnterpriseAdmin" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseAdminResponse"
				message="tns:addEnterpriseAdminResponse" />
		</operation>
		<operation name="addGroup">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addGroupRequest"
				message="tns:addGroup" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addGroupResponse"
				message="tns:addGroupResponse" />
		</operation>
		<operation name="getDeptUsersBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getDeptUsersBORequest"
				message="tns:getDeptUsersBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getDeptUsersBOResponse"
				message="tns:getDeptUsersBOResponse" />
		</operation>
		<operation name="getAsNameForUser">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getAsNameForUserRequest"
				message="tns:getAsNameForUser" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getAsNameForUserResponse"
				message="tns:getAsNameForUserResponse" />
		</operation>
		<operation name="getGroupAdminListBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getGroupAdminListBORequest"
				message="tns:getGroupAdminListBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getGroupAdminListBOResponse"
				message="tns:getGroupAdminListBOResponse" />
		</operation>
		<operation name="findGroupAdmin">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/findGroupAdminRequest"
				message="tns:findGroupAdmin" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/findGroupAdminResponse"
				message="tns:findGroupAdminResponse" />
		</operation>
		<operation name="findEnterpriseAdmin">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/findEnterpriseAdminRequest"
				message="tns:findEnterpriseAdmin" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/findEnterpriseAdminResponse"
				message="tns:findEnterpriseAdminResponse" />
		</operation>
		<operation name="getEnterpriseHierarchy">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getEnterpriseHierarchyRequest"
				message="tns:getEnterpriseHierarchy" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getEnterpriseHierarchyResponse"
				message="tns:getEnterpriseHierarchyResponse" />
		</operation>
		<operation name="getEnterpriseChildren">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getEnterpriseChildrenRequest"
				message="tns:getEnterpriseChildren" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getEnterpriseChildrenResponse"
				message="tns:getEnterpriseChildrenResponse" />
		</operation>
		<operation name="addEnterpriseAdminWithPassword">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseAdminWithPasswordRequest"
				message="tns:addEnterpriseAdminWithPassword" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseAdminWithPasswordResponse"
				message="tns:addEnterpriseAdminWithPasswordResponse" />
		</operation>
		<operation name="addEnterpriseGroupDeptAdmin">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseGroupDeptAdminRequest"
				message="tns:addEnterpriseGroupDeptAdmin" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseGroupDeptAdminResponse"
				message="tns:addEnterpriseGroupDeptAdminResponse" />
		</operation>
		<operation name="addEnterpriseDeptAdmin">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseDeptAdminRequest"
				message="tns:addEnterpriseDeptAdmin" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseDeptAdminResponse"
				message="tns:addEnterpriseDeptAdminResponse" />
		</operation>
		<operation name="addEnterpriseGroupAdmin">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseGroupAdminRequest"
				message="tns:addEnterpriseGroupAdmin" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseGroupAdminResponse"
				message="tns:addEnterpriseGroupAdminResponse" />
		</operation>
		<operation name="addEnterpriseGroupAdminWithPassword">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseGroupAdminWithPasswordRequest"
				message="tns:addEnterpriseGroupAdminWithPassword" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseGroupAdminWithPasswordResponse"
				message="tns:addEnterpriseGroupAdminWithPasswordResponse" />
		</operation>
		<operation name="editEnterpriseGroupAdmin">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/editEnterpriseGroupAdminRequest"
				message="tns:editEnterpriseGroupAdmin" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/editEnterpriseGroupAdminResponse"
				message="tns:editEnterpriseGroupAdminResponse" />
		</operation>
		<operation name="editEnterpriseDeptAdmin">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/editEnterpriseDeptAdminRequest"
				message="tns:editEnterpriseDeptAdmin" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/editEnterpriseDeptAdminResponse"
				message="tns:editEnterpriseDeptAdminResponse" />
		</operation>
		<operation name="editEnterpriseGroupDeptAdmin">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/editEnterpriseGroupDeptAdminRequest"
				message="tns:editEnterpriseGroupDeptAdmin" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/editEnterpriseGroupDeptAdminResponse"
				message="tns:editEnterpriseGroupDeptAdminResponse" />
		</operation>
		<operation name="deleteEnterpriseGroupAdmin">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/deleteEnterpriseGroupAdminRequest"
				message="tns:deleteEnterpriseGroupAdmin" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/deleteEnterpriseGroupAdminResponse"
				message="tns:deleteEnterpriseGroupAdminResponse" />
		</operation>
		<operation name="deleteEnterpriseDeptAdmin">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/deleteEnterpriseDeptAdminRequest"
				message="tns:deleteEnterpriseDeptAdmin" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/deleteEnterpriseDeptAdminResponse"
				message="tns:deleteEnterpriseDeptAdminResponse" />
		</operation>
		<operation name="deleteEnterpriseGroupDeptAdmin">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/deleteEnterpriseGroupDeptAdminRequest"
				message="tns:deleteEnterpriseGroupDeptAdmin" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/deleteEnterpriseGroupDeptAdminResponse"
				message="tns:deleteEnterpriseGroupDeptAdminResponse" />
		</operation>
		<operation name="addEnterpriseAdminBOWithPass">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseAdminBOWithPassRequest"
				message="tns:addEnterpriseAdminBOWithPass" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseAdminBOWithPassResponse"
				message="tns:addEnterpriseAdminBOWithPassResponse" />
		</operation>
		<operation name="addEnterpriseGroupAdminBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseGroupAdminBORequest"
				message="tns:addEnterpriseGroupAdminBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseGroupAdminBOResponse"
				message="tns:addEnterpriseGroupAdminBOResponse" />
		</operation>
		<operation name="getEnterpriseHierarchyBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getEnterpriseHierarchyBORequest"
				message="tns:getEnterpriseHierarchyBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getEnterpriseHierarchyBOResponse"
				message="tns:getEnterpriseHierarchyBOResponse" />
		</operation>
		<operation name="getEnterpriseChildrenBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getEnterpriseChildrenBORequest"
				message="tns:getEnterpriseChildrenBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getEnterpriseChildrenBOResponse"
				message="tns:getEnterpriseChildrenBOResponse" />
		</operation>
		<operation name="deleteEnterpriseAdminBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/deleteEnterpriseAdminBORequest"
				message="tns:deleteEnterpriseAdminBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/deleteEnterpriseAdminBOResponse"
				message="tns:deleteEnterpriseAdminBOResponse" />
		</operation>
		<operation name="editEnterpriseAdminBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/editEnterpriseAdminBORequest"
				message="tns:editEnterpriseAdminBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/editEnterpriseAdminBOResponse"
				message="tns:editEnterpriseAdminBOResponse" />
		</operation>
		<operation name="editEnterpriseAdminBOWithPassword">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/editEnterpriseAdminBOWithPasswordRequest"
				message="tns:editEnterpriseAdminBOWithPassword" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/editEnterpriseAdminBOWithPasswordResponse"
				message="tns:editEnterpriseAdminBOWithPasswordResponse" />
		</operation>
		<operation name="deleteEnterpriseGroupAdminBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/deleteEnterpriseGroupAdminBORequest"
				message="tns:deleteEnterpriseGroupAdminBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/deleteEnterpriseGroupAdminBOResponse"
				message="tns:deleteEnterpriseGroupAdminBOResponse" />
		</operation>
		<operation name="editEnterpriseGroupAdminBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/editEnterpriseGroupAdminBORequest"
				message="tns:editEnterpriseGroupAdminBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/editEnterpriseGroupAdminBOResponse"
				message="tns:editEnterpriseGroupAdminBOResponse" />
		</operation>
		<operation name="deleteDepartmentAdminBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/deleteDepartmentAdminBORequest"
				message="tns:deleteDepartmentAdminBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/deleteDepartmentAdminBOResponse"
				message="tns:deleteDepartmentAdminBOResponse" />
		</operation>
		<operation name="editDepartmentAdminBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/editDepartmentAdminBORequest"
				message="tns:editDepartmentAdminBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/editDepartmentAdminBOResponse"
				message="tns:editDepartmentAdminBOResponse" />
		</operation>
		<operation name="getAsNameForEnterprise">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getAsNameForEnterpriseRequest"
				message="tns:getAsNameForEnterprise" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getAsNameForEnterpriseResponse"
				message="tns:getAsNameForEnterpriseResponse" />
		</operation>
		<operation name="getPortalInfoForCluster">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getPortalInfoForClusterRequest"
				message="tns:getPortalInfoForCluster" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getPortalInfoForClusterResponse"
				message="tns:getPortalInfoForClusterResponse" />
		</operation>
		<operation name="getPortalUrlForEnterprise">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getPortalUrlForEnterpriseRequest"
				message="tns:getPortalUrlForEnterprise" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getPortalUrlForEnterpriseResponse"
				message="tns:getPortalUrlForEnterpriseResponse" />
		</operation>
		<operation name="getEnterpriseAdminListBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getEnterpriseAdminListBORequest"
				message="tns:getEnterpriseAdminListBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getEnterpriseAdminListBOResponse"
				message="tns:getEnterpriseAdminListBOResponse" />
		</operation>
		<operation name="getUserNativePasswordInd">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getUserNativePasswordIndRequest"
				message="tns:getUserNativePasswordInd" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getUserNativePasswordIndResponse"
				message="tns:getUserNativePasswordIndResponse" />
			<fault message="tns:NorthboundException"
				name="NorthboundException"
				wsam:Action="http://bw.managed/VoipAdminApi/getUserNativePasswordInd/Fault/NorthboundException" />
			<fault message="tns:IOException" name="IOException"
				wsam:Action="http://bw.managed/VoipAdminApi/getUserNativePasswordInd/Fault/IOException" />
			<fault message="tns:JDOMException" name="JDOMException"
				wsam:Action="http://bw.managed/VoipAdminApi/getUserNativePasswordInd/Fault/JDOMException" />
			<fault message="tns:Exception" name="Exception"
				wsam:Action="http://bw.managed/VoipAdminApi/getUserNativePasswordInd/Fault/Exception" />
		</operation>
		<operation name="getUserNativePasswordInds">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getUserNativePasswordIndsRequest"
				message="tns:getUserNativePasswordInds" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getUserNativePasswordIndsResponse"
				message="tns:getUserNativePasswordIndsResponse" />
			<fault message="tns:NorthboundException"
				name="NorthboundException"
				wsam:Action="http://bw.managed/VoipAdminApi/getUserNativePasswordInds/Fault/NorthboundException" />
			<fault message="tns:JDOMException" name="JDOMException"
				wsam:Action="http://bw.managed/VoipAdminApi/getUserNativePasswordInds/Fault/JDOMException" />
			<fault message="tns:IOException" name="IOException"
				wsam:Action="http://bw.managed/VoipAdminApi/getUserNativePasswordInds/Fault/IOException" />
			<fault message="tns:Exception" name="Exception"
				wsam:Action="http://bw.managed/VoipAdminApi/getUserNativePasswordInds/Fault/Exception" />
		</operation>
		<operation name="getClusterByEnterprise">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getClusterByEnterpriseRequest"
				message="tns:getClusterByEnterprise" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getClusterByEnterpriseResponse"
				message="tns:getClusterByEnterpriseResponse" />
		</operation>
		<operation name="getAdminIdType">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getAdminIdTypeRequest"
				message="tns:getAdminIdType" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getAdminIdTypeResponse"
				message="tns:getAdminIdTypeResponse" />
		</operation>
		<operation name="getDeptUsers">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getDeptUsersRequest"
				message="tns:getDeptUsers" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getDeptUsersResponse"
				message="tns:getDeptUsersResponse" />
		</operation>
		<operation name="getGroupChildren">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getGroupChildrenRequest"
				message="tns:getGroupChildren" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getGroupChildrenResponse"
				message="tns:getGroupChildrenResponse" />
		</operation>
		<operation name="editGroupAdmin">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/editGroupAdminRequest"
				message="tns:editGroupAdmin" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/editGroupAdminResponse"
				message="tns:editGroupAdminResponse" />
		</operation>
		<operation name="addEnterpriseGroup">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseGroupRequest"
				message="tns:addEnterpriseGroup" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseGroupResponse"
				message="tns:addEnterpriseGroupResponse" />
		</operation>
		<operation name="addEnterpriseGroupBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseGroupBORequest"
				message="tns:addEnterpriseGroupBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseGroupBOResponse"
				message="tns:addEnterpriseGroupBOResponse" />
		</operation>
		<operation name="addExtensionUserBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addExtensionUserBORequest"
				message="tns:addExtensionUserBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addExtensionUserBOResponse"
				message="tns:addExtensionUserBOResponse" />
		</operation>
		<operation name="addUserBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addUserBORequest"
				message="tns:addUserBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addUserBOResponse"
				message="tns:addUserBOResponse" />
		</operation>
		<operation name="deleteUserBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/deleteUserBORequest"
				message="tns:deleteUserBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/deleteUserBOResponse"
				message="tns:deleteUserBOResponse" />
		</operation>
		<operation name="getAdminIdTypeBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getAdminIdTypeBORequest"
				message="tns:getAdminIdTypeBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getAdminIdTypeBOResponse"
				message="tns:getAdminIdTypeBOResponse" />
		</operation>
		<operation name="addEnterpriseAdminBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseAdminBORequest"
				message="tns:addEnterpriseAdminBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseAdminBOResponse"
				message="tns:addEnterpriseAdminBOResponse" />
		</operation>
		<operation name="addGroupAdminBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addGroupAdminBORequest"
				message="tns:addGroupAdminBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addGroupAdminBOResponse"
				message="tns:addGroupAdminBOResponse" />
			<fault message="tns:Exception" name="Exception"
				wsam:Action="http://bw.managed/VoipAdminApi/addGroupAdminBO/Fault/Exception" />
		</operation>
		<operation name="addDepartmentAdminBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addDepartmentAdminBORequest"
				message="tns:addDepartmentAdminBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addDepartmentAdminBOResponse"
				message="tns:addDepartmentAdminBOResponse" />
		</operation>
		<operation name="getGroupChildrenBO">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/getGroupChildrenBORequest"
				message="tns:getGroupChildrenBO" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/getGroupChildrenBOResponse"
				message="tns:getGroupChildrenBOResponse" />
		</operation>
		<operation name="deleteEnterpriseAdmin">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/deleteEnterpriseAdminRequest"
				message="tns:deleteEnterpriseAdmin" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/deleteEnterpriseAdminResponse"
				message="tns:deleteEnterpriseAdminResponse" />
		</operation>
		<operation name="deleteGroupAdmin">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/deleteGroupAdminRequest"
				message="tns:deleteGroupAdmin" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/deleteGroupAdminResponse"
				message="tns:deleteGroupAdminResponse" />
		</operation>
		<operation name="editEnterpriseGroupAdminBOWithPassword">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/editEnterpriseGroupAdminBOWithPasswordRequest"
				message="tns:editEnterpriseGroupAdminBOWithPassword" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/editEnterpriseGroupAdminBOWithPasswordResponse"
				message="tns:editEnterpriseGroupAdminBOWithPasswordResponse" />
		</operation>
		<operation name="addEnterpriseGroupAdminBOWithPassword">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseGroupAdminBOWithPasswordRequest"
				message="tns:addEnterpriseGroupAdminBOWithPassword" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/addEnterpriseGroupAdminBOWithPasswordResponse"
				message="tns:addEnterpriseGroupAdminBOWithPasswordResponse" />
		</operation>
		<operation name="deleteUser">
			<input
				wsam:Action="http://bw.managed/VoipAdminApi/deleteUserRequest"
				message="tns:deleteUser" />
			<output
				wsam:Action="http://bw.managed/VoipAdminApi/deleteUserResponse"
				message="tns:deleteUserResponse" />
		</operation>
	</portType>
	<binding name="VoipAdminApiPortBinding" type="tns:VoipAdminApi">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="addGroupAdmin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="assignUserServices">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="IOException">
				<soap:fault name="IOException" use="literal" />
			</fault>
			<fault name="JDOMException">
				<soap:fault name="JDOMException" use="literal" />
			</fault>
		</operation>
		<operation name="addExtensionUser">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="authenticateUser">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getEnterpriseAdminList">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getGroupAdminList">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addUser">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="editEnterpriseAdmin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addEnterpriseAdmin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addGroup">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getDeptUsersBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getAsNameForUser">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getGroupAdminListBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="findGroupAdmin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="findEnterpriseAdmin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getEnterpriseHierarchy">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getEnterpriseChildren">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addEnterpriseAdminWithPassword">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addEnterpriseGroupDeptAdmin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addEnterpriseDeptAdmin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addEnterpriseGroupAdmin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addEnterpriseGroupAdminWithPassword">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="editEnterpriseGroupAdmin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="editEnterpriseDeptAdmin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="editEnterpriseGroupDeptAdmin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="deleteEnterpriseGroupAdmin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="deleteEnterpriseDeptAdmin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="deleteEnterpriseGroupDeptAdmin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addEnterpriseAdminBOWithPass">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addEnterpriseGroupAdminBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getEnterpriseHierarchyBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getEnterpriseChildrenBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="deleteEnterpriseAdminBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="editEnterpriseAdminBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="editEnterpriseAdminBOWithPassword">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="deleteEnterpriseGroupAdminBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="editEnterpriseGroupAdminBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="deleteDepartmentAdminBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="editDepartmentAdminBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getAsNameForEnterprise">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getPortalInfoForCluster">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getPortalUrlForEnterprise">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getEnterpriseAdminListBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getUserNativePasswordInd">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="NorthboundException">
				<soap:fault name="NorthboundException" use="literal" />
			</fault>
			<fault name="IOException">
				<soap:fault name="IOException" use="literal" />
			</fault>
			<fault name="JDOMException">
				<soap:fault name="JDOMException" use="literal" />
			</fault>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</fault>
		</operation>
		<operation name="getUserNativePasswordInds">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="NorthboundException">
				<soap:fault name="NorthboundException" use="literal" />
			</fault>
			<fault name="JDOMException">
				<soap:fault name="JDOMException" use="literal" />
			</fault>
			<fault name="IOException">
				<soap:fault name="IOException" use="literal" />
			</fault>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</fault>
		</operation>
		<operation name="getClusterByEnterprise">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getAdminIdType">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getDeptUsers">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getGroupChildren">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="editGroupAdmin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addEnterpriseGroup">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addEnterpriseGroupBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addExtensionUserBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addUserBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="deleteUserBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getAdminIdTypeBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addEnterpriseAdminBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addGroupAdminBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</fault>
		</operation>
		<operation name="addDepartmentAdminBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getGroupChildrenBO">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="deleteEnterpriseAdmin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="deleteGroupAdmin">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="editEnterpriseGroupAdminBOWithPassword">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addEnterpriseGroupAdminBOWithPassword">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="deleteUser">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="VoipAdminApiService">
		<port name="VoipAdminApiPort"
			binding="tns:VoipAdminApiPortBinding">
			<soap:address location="" />
		</port>
	</service>
</definitions>